**/*checkpoint.ipynb
*.pyc
Backup of Understanding Covid-19 societal interaction_7c.docx
Backup of Understanding Covid-19 societal interaction_7d_red.docx
~$derstanding Covid-19 societal interaction_7d_red.docx
Backup of Understanding Covid-19 societal interaction_8.docx
data_all.pk
data_all_raw.pk
data_all_OWID.pk
Backup of Understanding Covid-19 societal interaction.docx
~$Assembled_figs.pptx
SEI3R_A16_Germany_testA1.pk
data_all_base.pk
